.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: gray;
    padding: 10px 20px;
}

.logoo_img {
    width: 180px;
    height: auto;
}

.navItems_a {
    color: grey;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}